@import 'bootstrap'
@import 'bootstrap/theme'
@import 'font-awesome'
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light|Roboto+Slab)
@import 'jquery-ui'

.checkbox
  margin-left: 20px
.black-viewport
  background-color: #000000
.logo-text
  font-family: 'Shadows Into Light', cursive
body
  font-family: 'Roboto Slab', serif
  padding-top: 50px
.inner-item
  text-align: center
  img
    margin: 0 auto
#multi_markers
  margin: 0 auto
  width: 800px
  height: 400px
.dog-image
  border: dashed 1px #000000
  margin: 0 auto
  margin-bottom: 15px
  height: 280px
  width: 280px
.navbar.navbar-default
  margin-bottom: -2px
